*{
    font-family: 'Nova Square', cursive;
    
}
.my-container{
    display: flex;
    justify-content: center;
}

.my-img{
    height: 120px;
    width: 200px;
}

.my-nav{
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    justify-content: center;

}

.bg-my-svizz{
   background: url('./switzerland-862870_1920.jpg');
   width: 100%;
   height: 100vh;
}

.my-mountain{
     
    width: 100%;
    margin-right: 0%;
    z-index:+1 ;
    filter: saturate(11%) contrast(87%) invert(32%)
    sepia(17%) hue-rotate(318deg) brightness(100%);
    order: 2;
}

.big-area{
    width: 100%;
    height: 1000px;
    position: relative;
}

.fermo{
    position: absolute;
}


/* .parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .image2 {
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px green solid;
    z-index:-1 ;
    filter: saturate(11%) contrast(87%) invert(32%)
    sepia(17%) hue-rotate(318deg) brightness(100%);
  } */

  .bg.image{
      background-image: url('/mountains.png');
      width: 100%;
      position: static;
      z-index:+1 ;
      filter: saturate(11%) contrast(87%) invert(32%)
      sepia(17%) hue-rotate(318deg) brightness(100%);
  }

  .bg.mont{
      background-image: url('/switzerland-862870_1920.jpg');
      width: 100%;
  }

  
  /* .sfondo{
    width: 100%;
    filter: saturate(11%) contrast(87%) invert(32%)
    sepia(17%) hue-rotate(318deg) brightness(100%);
  } */


  #banner{
      background-image: url('/mountains.png');
      width: 100%;
      height: auto ;
  }